{{ partial "head" . }}

<body>
    <div id="wrap">
        <!-- Header -->
        {{ partial "header" . }}
        <div class="container">
            {{ with .Site.GetPage "section" "blog" }}
                {{ range .Data.Pages.GroupByDate "2006-01" }}
                <div class="aa-archive_item">
                    {{ .Key }}
                    {{ range .Pages }}
                        <a href="{{ .RelPermalink }}">{{.Title}}</a>
                    {{ end }}
                </div>    
                {{ end }}
            {{ end }}
        </div>
    </div>
</body>

</html>