/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #fff;
}
p {
  line-height: 2rem;
  font-size: 1.2rem;
  color: #212121;
}

h2 {
  color: #212121;
}

.button-collapse {
  color: white;
  margin-left: 10px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 5%;
  }
}

#index-banner {
    height: calc(100vh);
    background-color: #607D8B;
    color: #ffffff;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
  background-color: #607D8B;  
}

#top-nav {
    background-color: #455A64; 
}

.paginate-button {
  background-color: #757575;
}

.single-section {
  min-height: calc(85vh);
}

.links a {
    margin-right: 10px;
}

.btn:hover, .btn-large:hover {
 background-color: #757575;
}