{{ partial "head" . }}

<body>
    <div id="wrap">
        <!-- Header -->
        {{ partial "header" . }}
        <div class="container">
            {{ range .Data.Pages.ByPublishDate.Reverse  }}
            <div class="aa-blogpost">
                <div class="aa-blogpost-header">
                    <div class="aa-blogpost-header_title">
                        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                    </div>
                    <div class="aa-blogpost-header_date">
                        {{ .Date.Format "02-01-2006" }}
                    </div>
                </div>
            </div>
            <div class="aa-blogpost-summary">
                {{ .Summary }}
            </div>
            <hr /> {{ end }}
        </div>
    </div>
</body>

</html>