{{ partial "head" . }}

<body>
    <div id="wrap">

        <!-- Header -->
        {{ partial "header" . }} {{ if isset .Params "showpagemeta" }} {{ .Render "projects" }} {{ else }}
        <div class="container">
            <div class="aa-blogpost">
                <div class="aa-blogpost-header">
                    <div class="aa-blogpost-header_title">
                        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                    </div>
                    <div class="aa-blogpost-header_date">
                        {{ .Date.Format "02-01-2006" }}
                    </div>
                </div>
            </div>
            <div class="aa-blogpost-content">
                {{ .Content }}
            </div>
        </div>
        {{ partial "navigator" . }}
    </div>
    {{ end }}
    </div>
</body>

</html>