
// Colors
$color-brand: #27A822;
$color-brand-dark: #267723;
$color-text: #212121;
$color-text-ligher: #BDBDBD;
$color-text-light: ligten($color-text, 5%);
$color-text-dark: darken($color-text, 10%);
$color-text-darker: darken($color-text, 20%); 

// Font-size
$font-size-base: 16px;
$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;

// Font-weight
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
