.aa-knowledge {
    &-header {
        padding-top: 2px;
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        &:hover {
            color: $color-brand-dark;
        }
    }

    &-body {
        text-align: left;
        font-size: $font-size-lg;
    }
}